.chats {
    a {
        color: #3c4252;
        text-decoration: none;
    }
    h2 {
        display: block;
        color: #78beef;
        font-weight: 600;
        margin-left: 10px;
        margin-bottom: 30px;
    }
}
