.chats {
    display: grid;
    grid-template-rows: 160px 100px 3fr;
    height: 100vh;
    border: 1px solid #e7e7e7;
    border-top: none;
    box-sizing: border-box;
    &__wrapper {
        overflow-x: hidden;
        overflow-y: scroll;

        &:hover {
            overflow-y: auto;
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #e0e0e0;
            }
        }
        
        &::-webkit-scrollbar {
            width: 10px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: #f9f9fd;
            border-radius: 5px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #f9f9fd;
        }
        
    }
    a {
        color: #3c4252;
        text-decoration: none;
    }
    h2 {
        display: block;
        color: #78beef;
        font-weight: 600;
        margin-left: 10px;
        margin-bottom: 30px;
    }
}
