.logout {
    background: #3c4252;
    width: 70px;
    text-align: center;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #e7e7e7;
    color: white;
    border-radius: 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
}
.login {
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #e7e7e7;
    background: #3c4252;
    color: #e7e7e7;
    border-radius: 15px;
}