.chats {
    &__header {
        background: #f5f5f5;
        padding: 20px;
        border-bottom: 1px solid #e7e7e7;
    }
    &__search {
        display: flex;
        justify-content: center;
    }
}
