.chats {
    &__header {
        background: #f5f5f5;
        padding: 20px;
        border-bottom: 1px solid #e7e7e7;
    }
    &__search {
        display: flex;
        justify-content: center;
    }
    &__user {
        display: flex;
        align-items: center;
        button {
            width: 70px;
            height: 30px;
            background: #3c4252;
            border: 1px solid #e7e7e7;
            color: white;
            border-radius: 20px;
            font-weight: 500;
            font-size: 15px;
        }
    }
}
