.messages {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px 1fr 100px;
    &__content {
        background: #fafafa;
        padding: 30px 20px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
