.messages {
    &__header {
        display: flex;
        padding: 10px 20px;
        align-items: center;
        background: #f5f5f5;
        font-size: 23px;
        color: #3c4252;
        font-weight: 500;
        border-bottom: 1px solid #e7e7e7;
    }
    &__back {
        cursor: pointer;
        position: relative;
        display: none;
        button {
            background: none;
            border: none;
        }
    }
}

@media (max-width: 700px) {
    .messages {
        &__back {
            display: block;
        }
    }
}
